# OSX
#
front/.DS_Store

# Xcode
#
front/build/
front/*.pbxuser
!front/default.pbxuser
front/*.mode1v3
!front/default.mode1v3
front/*.mode2v3
!front/default.mode2v3
front/*.perspectivev3
!front/default.perspectivev3
front/xcuserdata
front/*.xccheckout
front/*.moved-aside
front/DerivedData
front/*.hmap
front/*.ipa
front/*.xcuserstate
front/ios/.xcode.env.local

# Android/IntelliJ
#
front/build/
front/.idea
front/.gradle
front/local.properties
front/*.iml
front/*.hprof
front/.cxx/
front/*.keystore
!front/debug.keystore

# node.js
#
front/node_modules/
front/npm-debug.log
front/yarn-error.log

# fastlane
#
front/**/fastlane/report.xml
front/**/fastlane/Preview.html
front/**/fastlane/screenshots
front/**/fastlane/test_output

# Bundle artifact
front/*.jsbundle

# Ruby / CocoaPods
front/ios/Pods/
front/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
front/.metro-health-check*

# testing
front/coverage


# compiled output
server/dist
server/node_modules
server/build

# Logs
server/logs
server/*.log
server/npm-debug.log*
server/pnpm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/lerna-debug.log*

# OS
server/.DS_Store

# Tests
server/coverage
server/.nyc_output

# IDEs and editors
server/.idea
server/.project
server/.classpath
server/.c9/
server/*.launch
server/.settings/
server/*.sublime-workspace

# IDE - VSCode
server/.vscode/*
!server/.vscode/settings.json
!server/.vscode/tasks.json
!server/.vscode/launch.json
!server/.vscode/extensions.json

# dotenv environment variable files
server/.env
server/.env.development.local
server/.env.test.local
server/.env.production.local
server/.env.local

# temp directory
server/.temp
server/.tmp

# Runtime data
server/pids
server/*.pid
server/*.seed
server/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
server/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

server/README.md
server/uploads
server/pub-server.pem

